body {
    overflow-x: hidden;
    background: url("http://i.imgur.com/9zgEfYJ.jpg") top center no-repeat fixed #47403a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}